body div.wrapper {
  border: 1px solid #dedede;
  margin: 25px auto;
  overflow: hidden;
  width: 80%;
}

ul.accordion {
list-style-type: none;
margin: 0;
padding: 0;
}

ul.accordion li input {
	display: none;
	padding: 0;
	margin: 0;
	visibility: hidden;
}

ul.accordion label {
  background-color: #ffffff;
  border-bottom: 1px solid #dedede;
  border-top: none;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #222222;
  display: block;
  font-weight: bold;
  line-height: 42px;
  padding: 0 8px;
  margin-bottom: 0;
}

ul.accordion label:hover {
	background-color: #1aa9d8;
	color: #ffffff;
	cursor: pointer;	
}

ul.accordion li input:checked ~ label {
	background-color: #1aa9d8;
	color: #ffffff;
	font-weight: normal;
}

ul.accordion li input ~ div {
	background-color: #f7f7f7;
	max-height: 0;
	opacity: 0;
		overflow: hidden;
	visibility: hidden;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

ul.accordion li input ~ div p {
	font-size: .9em;
		margin: 16px 24px;	
}

ul.accordion li input:checked ~ div {
	max-height: 200px;
	opacity: 1;
	visibility: visible;	
}

ul.accordion li input:checked ~ div > ul {
	display: block;	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
